@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slackey&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(3, 30, 51, .5);
}

:root {
    --main-color: #0096ff;
    --second-color: #ffd500;
    --third-color: #0f0;
    --fourth-color: #653780;
    --gradient-color1: #0096FF;
    --gradient-color2: #653780;

    --dark-color: #111;
    --light-color: #fff;
    --trans-white: rgba(255, 255, 255, 0.5);
    --slackey-font: 'Slackey';
    --over_the_rainbow-font: 'Over the Rainbow';
    --poetsen_one-font: 'Poetsen One';
    --poppins-font: 'Poppins';
    --transition-10: 1s cubic-bezier(.2, .49, .32, .99);
    --transition-30: 3s cubic-bezier(.2, .49, .32, .99);
    --transition-40: 4s cubic-bezier(.2, .49, .32, .99);
    --transition-50: 5s cubic-bezier(.2, .49, .32, .99);

    --transition-5: .5s cubic-bezier(.2, .49, .32, .99);
    --transition-3: .5s cubic-bezier(.2, .49, .32, .99);
    --transition-2: .5s cubic-bezier(.2, .49, .32, .99);

}

body {
    font-size: 18px;
    font-family: var(--slackey-font), sans-serif;
    position: relative;
    height: 100vh;
    color: var(--light-color);
    overflow-x: hidden;
    background: #222;
}

body.theme-gradient1 {
    --gradient-color1: #0f0;
    --gradient-color2: #ffd500;
}

body.theme-gradient2 {
    --gradient-color1: #0f0;
    --gradient-color2: #0096FF;
}

body.theme-gradient3 {
    --gradient-color1: #0f0;
    --gradient-color2: #653780;
}

body.theme-gradient4 {
    --gradient-color1: #0096FF;
    --gradient-color2: #ffd500;
}


::-webkit-scrollbar {
    background: transparent;
    width: 8px;

}

::-webkit-scrollbar-track {
    background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 10px;
}

/* navbar */

header {
    background-color: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
    border-bottom: 1px solid var(--text-color);
}

header.change-bg {
    background-color: var(--dark-color);
}

header nav {
    width: 90%;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    z-index: 10;
}

header nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -10%;
    right: -50%;
    border-radius: 100%;
    transition: var(--transition-10);
    background: var(--second-color);
}



header nav>ul.slide {
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
}

header nav>ul>ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header nav > ul >ul li.show  {
    opacity: 1;
    transition: var(--transition-5) 1s;

}

.logo {
    font-weight: 800;
    text-decoration: none;
    font-size: 25px;
    padding: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--light-color);
    z-index: 10;
}


.logo img {
    width: 60px;
}

header nav ul li {
    padding: 15px;
    opacity: 0;
}

header nav ul li:hover {
    background: none;
}

header nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

header nav ul li a:hover {
    color: var(--dark-color);
    background: none;
}



header nav .burger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--light-color);
    gap: 5px;
    padding-right: 9px;
}

header nav .burger .line1,
header nav .burger .line2 {
    background: var(--light-color);
    width: 20px;
    height: 2px;
    transition: 0.3s;
    border-radius: 2px;
}

header nav .burger .line2.close-animation {
    width: 10px;

}



/* HERO */

.parallax {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: var(--transition-3);
}


#hero {
    height: 100vh;
    background-image: linear-gradient(to bottom left,var(--second-color) , #222 70%);
    /* box-shadow: inset 0px 0px 200px var(--trans-white); */
    overflow: hidden;
}

.hero__section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px) contrast(0.9);
}

.circle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: var(--dark-color);
    z-index: 1;
}

.circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--second-color);
    z-index: 1;
}

.circle3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #222;
    z-index: 1;
}

.circle4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--second-color);
    z-index: 1;
}


.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: calc(50% + 32%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    gap: 5px;
    z-index: 4;
    transition: var(--transition-10);
}

.about-btn a {
    color: var(--light-color);
    text-decoration: none;
    background: var(--second-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.big__text-container {
    position: absolute;
    top: -90%;
    left: -10%;
    width: 250%;
    font-size: 8.2rem;
    font-family: var(--poppins-font);
    font-weight: 900;
    transform: rotate(-30deg);
}

.big__text-container h2 {
    background-image: linear-gradient(to right, #000, transparent);
    -webkit-background-clip: text;
    -webkit-text-stroke: transparent;
    -webkit-text-stroke-width: calc(1rem / 18);
    color: transparent;
    position: absolute;
    left: 0;
    animation: loop 10s cubic-bezier(.2, .49, .32, .99) infinite;
    width: 100%;
    text-wrap: nowrap;
}

@keyframes loop {
    0% {
        left: 100%;
    }

    50% {
        left: -10%;
    }

    100% {
        left: -100%;
    }

}

/* NAME */

.my__name--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: calc(50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    gap: 5px;
    z-index: 4;
    transition: var(--transition-10);
}

.my__name--container * {
    text-transform: uppercase;
    color: var(--light-color);
    font-weight: 700;
    text-align: center;
}

.my__name--container h1 {
    font-size: 6rem;
    line-height: 90px;
}

/* logos */

.logo__image {
    width: 90px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.css {
    left: calc(50% + 24.64%);
    top: calc(50% - 36.69%);

}

.html {
    top: calc(50% + 30.53%);
    left: calc(50% + 36.66%);

}

.js {
    width: 80px;
    left: calc(50% - 36.66%);
    top: calc(50% + 35.51%);

}

/* Social */

.social {
    cursor: pointer;
    text-decoration: none;
    color: var(--light-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);

}

.social-links {
    position: absolute;
    top: calc(50% + 23%);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    transition: var(--transition-3);
    z-index: 4;

}

.discord {
    background: #5865F2;

}

.facebook {

    background: #1877F2;
}

.github {

    background: var(--dark-color);
}

.youtube {

    background: #f00;
}

/* About */

section {

    background: #222;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 6rem 5rem;
    gap: 3rem;
    position: relative;
    
}

section.active p{
    color: var(--light-color);
}

#about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 5px;
    background: var(--second-color);
    transition: var(--transition-10);
}

section * {
    transition: var(--transition-3);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: var(--transition-10);
}


section h3 {
    color: var(--dark-color);
    font-weight: 500;
}


section .section-header h2 {
    color: var(--dark-color);
    font-size: 3rem;
}

section.active .section-header h2 {
    color: var(--light-color);
}

section.active h3 {
    color: var(--light-color);
}

.section-header .side-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    background: var(--second-color);
    height: 40px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

}

.section-header .side-box::after {
    content: "ABOUT ME";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.3rem;
    left: 50%;
    font-size: 6rem;
    text-wrap: nowrap;
    font-family: var(--poetsen_one-font);
    font-weight: 900;
    color: var(--light-color);
    opacity: 0.5;
    border-radius: 8px;
    transition: var(--transition-10);
}

.about__section {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    transition: var(--transition-10);
    gap: 5rem;
}

.about__section .about__text {
    font-size: 1.2rem;
    font-family: var(--poetsen_one-font);
    width: 70%;
}

section p {
    color: var(--dark-color);
    font-family: var(--poetsen_one-font);
    font-weight: 500;
}

.about__section .about__text .career {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
}

.about__section .about__text .career .item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__section .about__images {
    gap: 10px;
    width: 30%;
    transition: var(--transition-10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-color);
    opacity: 0.5;
    transition: var(--transition-10);
}

.img1:hover::after {
    width: 0;
}

.img1 img {
    width: 100%;
    height: 100%;

}


/* PROJECTS */

#projects {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    color: var(--dark-color);
    padding: 6rem 5rem;
    gap: 3rem;
    position: relative;
}

#projects::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 5px;
    background: var(--second-color);
    transition: var(--transition-10);
}

.projects__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 0.5rem;
}


.projects__section .project {
    position: relative;
    overflow: hidden;
}

.projects__section .project .title {
    font-size: 1.5rem;
    font-family: var(--poetsen_one-font);
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition-10);
}

.projects__section .project:hover .title{
    bottom: 1rem;
}

.projects__section .project:hover::after {
    width: 0;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-color);
    opacity: 0.5;
    transition: var(--transition-10);
}

.projects__section .project img{
    width: 100%;
    height: 100%;
}

#projects .section-header .side-box::after {
    content: 'PROJECTS';
}

/* SERVIECES */

#services {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    color: var(--dark-color);
    padding: 6rem 5rem;
    gap: 3rem;
    position: relative;
}

#services::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 5px;
    background: var(--second-color);
    transition: var(--transition-10);
}
.services__section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    text-align: center;
}

.services__section .service {
    padding: 1rem;
    border: 1px solid var(--second-color);
    
}

.services__section .service:hover {
    box-shadow: 0 0 10px var(--second-color);
    background: var(--second-color);
}

.services__section .service:hover i {
    color: #222;
}

.services__section .service i {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--second-color);
}


.services__section .service h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#services .section-header .side-box::after {
    content: 'SERVICES';
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    color: var(--dark-color);
    padding: 4rem 5rem;
    gap: 3rem;
    position: relative;
}

.contact__section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    gap: 1rem;
    text-align: center;
    margin-top: 50px;  
}

.contact__section .item {
    padding: 1rem;
    border: 1px solid var(--second-color);
    position: relative;
    padding-top: 4rem;
}

.contact__section .item a {
    color: #fff;
    text-decoration: none;
}

.contact__section .item i {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border: 1px solid var(--second-color);
}

.contact__section .item:hover i {
    background: var(--second-color);
    box-shadow: 0 0 10px var(--second-color);
}

#contact .section-header .side-box::after {
    content: 'CONTACT ME';
}


/* footer */

footer {
    width: 100%;
    background: var(--dark-color);
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    font-family: var(--poetsen_one-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-links {
    position: static;
    transform: translate(0, 0);
    padding: 0;
    margin: 0;
}

footer .social-links .github {
    background: #222;
}

footer .social-links * {
    transform: translate(0,0);
}

/* --------------------- MEDIA QUERIES --------------------- */

@media screen and (max-width: 1090px) {
    .my__name--container h1 {
        font-size: 5rem;
    }

    #about,
    #projects,
    #services,
    #contact  {
        padding: 3rem 1rem;
    }

    .about__section {
        flex-direction: column;
        
    }

    .about__section .about__text {
        width: 100%;
    }

    .about__section .about__images{
        width: 100%;
    }

    .about__section .about__images img{
        width: 80%;
        height: 100%;
    }

    .img1::after {
        width: 80%;
        left: 10%;
    }

    .about__section .about__text .career .item{
        width: 120px;
        height: 120px;
        font-size: 0.7rem;
    }

    .section-header h2 {
        font-size: 2rem;
    }

    .section-header .side-box {
        height: 30px;
    }

    .section-header .side-box::after {
        font-size: 3rem;
    }
}

@media screen and (max-width: 952px) {
    .my__name--container h1 {
        font-size: 4rem;
    }

    .services__section {

        grid-template-columns: 1fr;

    }

    .contact__section {
  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 150px);
        row-gap: 2.8rem;
    }
}    

@media screen and (max-width: 800px) {

    
    .my__name--container h1 {
        font-size: 3rem;
    }

    .big__text-container {
        top: -20%;
    }

    .circle1 {
        width: 400px;
        height: 400px;
    }

    .circle2 {
        width: 300px;
        height: 300px;
    }

    .circle3 {
        width: 200px;
        height: 200px;
    }

    .circle4 {
        width: 100px;
        height: 100px;
    }

    .projects__section {
        grid-template-columns: repeat(1, 1fr);

    }

    section .section-header h2 {
        font-size: 2rem;
    }
    

  
}

@media screen and (max-width: 470px) {
    .my__name--container h1 {
        font-size: 2rem;
        line-height: 50px;
    }

    footer p {
        font-size: 0.5rem;
    }
    

    .logo {
        font-size: 1rem;
    }

    .my__name--container h2 {
        font-size: 1.2rem;
    }

    #container3D {

        width: 100%;
        height: 60%;
    }

    header nav > ul {
        right: -100%;
    }

    section .section-header h2 {
        font-size: 1.5rem;
    }

    .about__section .about__text .career .item {
        height: 100px;
    } 
}

@media screen and (max-width: 335px) {
    .my__name--container span {
        font-size: 0.6rem;
    }

    .my__name--container h1 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .about__section .about__text .career .item {
        height: 80px;
        font-size: 0.5rem;
    }

    .social-links .social {
        font-size: 0.8rem;
        width: 30px;
        height: 30px;
    }

    footer .social-links .social {
        font-size: 0.8rem;
        width: 30px;
        height: 30px;
    }

    .my__name--container h2 {
        font-size: .8rem;
    }
}
